estructura.dtd

<!ELEMENT hotel (reserva*)>

<!ELEMENT reserva (habitacion, persona)>

<!ELEMENT habitacion (planta)>
<!ATTLIST habitacion numero CDATA #REQUIRED>
<!ELEMENT planta (#PCDATA)>

<!ELEMENT persona (nombre, telefono, e-mail)>
<!ATTLIST persona DNI CDATA #REQUIRED>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT e-mail (#PCDATA)>